<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function emailDp(){

            const email = document.getElementById("memberEmail").value;
            const ECheck= document.getElementById("emailCheck");

            $.ajax({
               type: 'post',
               url: '/member/emailDuplicate',
                data: {"memberEmail":email},
                dataType: 'text',
                success:function(result){
                   if(result=='ok'){
                        ECheck.style.color='green';
                        ECheck.innerHTML="GOOD";
                   }else{
                       ECheck.style.color='red';
                       ECheck.innerHTML="중복된 이메일입니다."
                   }
                },
                error: function (){
                   alert('실패');
                }
            });
        }


    </script>
</head>
<body>
<h2>save</h2>

<form action="/member/save" method="post" enctype="multipart/form-data">
    이메일: <input type="text" name="memberEmail" onblur="emailDp()" id="memberEmail" >
    <span id="emailCheck"></span>
    비밀번호:<input type="text" name="memberPassword" >
    이름:<input type="text" name="memberName" >
    전화번호:<input type="text" name="memberPhone" >
    <input type="file" name="memberFile">
    <input type="submit" value="가입">
</form>
</body>

</html>